<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <h1>Welcome to the Home Page!</h1>
  <h2>Image upload</h2>
  <form id="upload-form">
    <label for="image-upload">Upload an image:</label>
    <input type="file" id="image-upload" name="file" accept="image/*" title="Choose an image file to upload" />
    <button type="submit">Submit</button>
  </form>
  <div id="result"></div>

  <script>
    const uploadForm = document.getElementById('upload-form');
    const imageUpload = document.getElementById('image-upload');
    const resultDiv = document.getElementById('result');

    uploadForm.addEventListener('submit', async (event) => {
      event.preventDefault();
      resultDiv.textContent = 'Loading...';

      const file = imageUpload.files[0];
      if (!file) {
        resultDiv.textContent = 'Please select an image to upload.';
        return;
      }

      const formData = new FormData();
      formData.append('file', file);

      try {
        const response = await fetch('/upload', {
          method: 'POST',
          body: formData,
        });

        const data = await response.json();

        if (!response.ok) {
            resultDiv.textContent = 'Error: ' + data.message;
        } else {
            resultDiv.textContent = `Server response: ${data.message}. Prediction: ${data.prediction}`;
        }
      } catch (error) {
        resultDiv.textContent = 'Network or Server error. Please try again later.';
      }

    });
  </script>
</body>
</html>